extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        picture.home__bg
            source(srcset="img/home-bg.jpg" media="(max-width: 767px)")
            img(src="img/home-bg.jpg", alt="")
        .container_center
            .home__text Atlanta, Bellevue, Boston, Chicago, Dallas, Denver, Houston, Kansas City, Las Vegas, Los Angeles, Manhattan, Miami, Minneapolis, Oklahoma, City, Philadelphia Phoenix, Portland, Salt Lake City, San Diego, San Francisco, San Jose, Seattle, Secaucus, Tysons Corner.

    // end home

    // begin home-models
    section#home-models.home-models.section
        .container_center
            h2.section__title Models
            .home-models__content
                .home-models__left
                    .home-models__list
                        each item, i in [{name: 'Anna', city: 'NEW YORK', avalable: ' AVAILABLE NOW'}, {name: 'CRIS', city: 'MIAMI', avalable: 'AVAILABLE NOW'}, {name: 'ELLA', city: 'BOSTON', avalable: 'NOT AVAILABLE'}]
                            .home-models__item
                                a.home-models__img(href="")
                                    picture.home-models__pic
                                        source(srcset="img/model"+(i+1)+".jpg" media="(max-width: 767px)")
                                        img(src="img/model"+(i+1)+".jpg" alt="")
                                .home-models__name= item.name
                                .home-models__action
                                    .home-models__city= item.city
                                    if item.avalable === 'NOT AVAILABLE'
                                        .home-models__avalable.home-models__avalable_danger= item.avalable
                                    else
                                        .home-models__avalable= item.avalable

                .home-models__right
                    .home-tours
                        .home-tours__title Tours:
                        .home-tours__list
                            - 
                                modList = [
                                    {
                                        city: 'Atlanta', 
                                        models: [
                                            'Anna oct. 2-10', 
                                            'Ella nov. 3-8'
                                        ]
                                    },
                                    {
                                        city: 'Bellevue', 
                                        models: [
                                            'Cris jan. 6-14', 
                                            'Julia feb.20-23'
                                        ]
                                    },
                                    {
                                        city: 'Boston', 
                                        models: [
                                            'Anna mar. 23-28', 
                                            'Ella apr. 6-11'
                                        ]
                                    },
                                    {
                                        city: 'Chicago', 
                                        models: [
                                            'Anna may. 4-9', 
                                            'Ella June 12-22'
                                        ]
                                    },
                                    {
                                        city: 'Dallas', 
                                        models: [
                                            'Anna July 11-15', 
                                            'Ella aug.'
                                        ]
                                    },
                                ]
                            each item in modList
                                .home-tours__item
                                    .home-tours__city=item.city
                                    each model in item.models
                                        .home-tours__model= model

                    .home-rate
                        each item in [{name: 'DARIA', rate: 5}, {name: 'VERA', rate: 4}, {name: 'VENERA', rate: 5 }, {name: 'JACKIE', rate: 3}]
                            .home-rate__item
                                .home-rate__name=item.name
                                .home-rate__stars
                                    .rate
                                        i.icon_star.active
                                        i.icon_star.active
                                        i.icon_star.active
                                        i.icon_star.active
                                        i.icon_star


    // end home-models
